<div class="main_container" *ngIf="initialInfos">
  <div class="header_infos">
    <div class="round">
      <p class="big_p">{{initialInfos.round}}. kör</p>
    </div>
    <div class="place">
      <p class="big_p">{{initialInfos.place}}. hely</p>
    </div>
    <div class="units_container">
      <div class="unit_container" *ngFor="let legion of initialInfos.legions">
        <div class="small_image_container">
          <img src="{{legion.imageUrl}}" alt="legion">
        </div>
        <p class="middle_p">{{legion.amount}}</p>
      </div>
    </div>
    <div class="pearl_container">
      <div class="small_image_container">
        <img src="../../../../../assets/pearl.svg" alt="pearl">
      </div>
      <div class="pearl_infos">
        <p class="middle_p">{{initialInfos.storage.pearl}}</p>
        <p class="small_p">{{initialInfos.pearlPerRound}} / kör</p>
      </div>
    </div>
    <div class="coral_container">
      <div class="small_image_container">
        <img src="../../../../../assets/coral.svg" alt="coral">
      </div>
      <div class="coral">
        <p class="middle_p">{{initialInfos.storage.coral}}</p>
        <p class="small_p">{{initialInfos.coralPerRound}} / kör</p>
      </div>
    </div>
    <div class="buildings_container" *ngFor="let bg of initialInfos.buildingGroups">
      <div class="small_image_container">
        <img src="{{bg.smallImageUrl}}" alt="legion">
      </div>
      <div class="bg_infos">
        <p class="middle_p">{{bg.amount}}</p>
        <p class="small_p">{{bg.inProgress ? "1 épül":"0 épül"}}</p>
      </div>
    </div>
  </div>
  <div class="left_container">
    <div class="buttos_container">
      <button *ngFor="let button of buttons">
        <p>{{button}}</p>
      </button>
    </div>
    <div class="user_conteiner">
      <div class="small_image_container">
        <img src="../../../../../assets/male.svg" alt="male">
      </div>
      <p>{{initialInfos.userName}}</p>
      <p>Profil</p>
      <p>Kijelentkezés</p>
    </div>
    <h3>UNDERSEA</h3>
  </div>

</div>