.tile_round {
  align-self: flex-start;
  width: 100%;
  p {
    font-family: "Open Sans";
    color: #9ffff0;
    font-size: 10px;
    letter-spacing: 1px;
  }
}

.tick_container {
  width: 100%;
  align-self: flex-start;

  img {
    width: 20px;
    height: 20px;
  }
}
.tile_picture_container {
  img {
    height: 70px;
    width: 70px;
  }
}
.tile_title_container,
.tile_detail_container {
  p {
    font-family: "Open Sans";
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
  }
}
.tile_detail_container {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;

  p {
    margin: 0;
  }
}

.tile_number_container,
.tile_price_container {
  p {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
  }
}
