.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title_container {
    width: 90%;
    height: 10%;

    h1 {
      font-family: "Baloo", cursive;
      color: #ffffff;
      font-size: 23px;
      letter-spacing: 1px;
    }
  }

  .subtitle_container {
    width: 90%;
    height: 10%;

    h3 {
      font-family: "Open Sans";
      color: #ffffff;
      font-size: 14px;
      letter-spacing: 1px;
      margin: 0;
    }
  }

  .sub_subtitle_container {
    width: 90%;
    height: 5%;

    h5 {
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 300;
      margin: 0;
    }
  }

  .tiles_container {
    display: flex;
    height: 55%;
    width: 90%;
    align-items: center;
    border-bottom: 2px solid #3f68ae;
    justify-content: space-around;
    margin: 15px 0;

    .building_tile_container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      align-items: center;
      width: 100%;

      app-building-card {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        height: 90%;
        margin: 10px;
      }
      .selected {
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        border-radius: 16px;
      }
    }

    .development_tile_container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;

      app-development-card {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        height: 180px;
        margin: 10px;
      }
      .selected {
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        border-radius: 16px;
      }
    }
  }

  .button_container {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      background: transparent
        linear-gradient(258deg, #9ffff0 0%, #6beee9 36%, #0fcfde 100%) 0% 0%
        no-repeat padding-box;
      outline: none;
      border: none;
      box-shadow: 0px 3px 6px #3b7dbd;
      border-radius: 90px;
      width: 150px;
      height: 45px;
      font-family: "Baloo", cursive;
      color: #000000;
      font-size: 16px;
      letter-spacing: 1px;
      margin: 15px;
    }
    button:disabled {
      background: grey;
    }
  }
}
